{% extends "base.html.twig" %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site de recettes de cuisine 😋</h1>
                <p>Bienvenue sur notre Site</p>            
            </div>
            
        </section>
    </main>
{% endblock %}
